.container {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px;
}

:host ::ng-deep .p-datatable-header,
:host ::ng-deep td {
  border: none;
}

:host ::ng-deep .p-datatable-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #fff;
}
